@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: Poppins, Sans-serif;
}

.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

@media only screen and (max-width:600px){
    .container{
        padding: 10px;
    }
}

.form{
    border-radius: 5px;
}

.label{
   border: 1px solid #696969;
   padding: 20px;
   border-radius: 16px;
   background: transparent;
   box-shadow: 0px 3px 15px #0a0a0a;
   height: 300px;
   text-decoration: none;
}

.username{
    background: transparent;
    border-radius: 5px;
    letter-spacing: 5px;
    margin: 62px;
    color:#b9b9b9;
}

.password{
    background: transparent;
    border-radius: 5px;
    letter-spacing: 4px;
    margin: 62px;
    color: #b9b9b9;
}

#username{
    width: 220px;
    height: 15px;
    font-family: sans-serif;
    text-align: center;
    color: #b9b9b9;
    font-size: 18px;
    background-color: transparent;
    border-radius: 15px;
    margin: 2px;
    padding: 8px;
    cursor: pointer;   
}

#password{
    width: 220px;
    height: 15px;
    font-family: sans-serif;
    text-align: center;
    color: #b9b9b9;
    font-size: 18px;
    background-color: transparent;
    border-radius: 15px;
    margin: 2px;
    padding: 8px;
    cursor: pointer;   
}

::placeholder{
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}

#checkbox{
justify-content: center;
margin-top: 15px;
margin-left: 30px;
align-items: center;
cursor: pointer;
top: 0;
left: 0;
}

#boxtag{
    justify-content: center;
    margin-top: 15px;
    margin-left: 30px;
    align-items: center;
    color: #b9b9b9;
}

.login{
    width: 240px;
    height: 35px;
    background: #f3f2ff94;
    border: none;
    margin-top: 10px;
    margin-left: 6px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    color: linear-gradient(45deg,#0a0a0a, #3a4452);
    transition: 0.4s ease;
}

.login:hover{
    background-color: #3e328375;
}

.dha{
    color: #b9b9b9;
    margin-top: 17px;
}

.sign{
    color: #000000;
    transition: 0.4s ease;
}

.sign:hover{
    color: #3e328375;
}

#show-password{
    justify-content: center;
margin-top: 15px;
margin-left: 30px;
align-items: center;
cursor: pointer;
}

.p{
    margin: 0;
    padding: 0;
    color: aquamarine;
    display: flex;
    justify-content: center;
    padding-right: -200px;
}

/* index page*/

.bodyi{
    width: 100px;
    height: 100vh;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
}

.logo{
    position: absolute;
    border-radius: 15px;
    top: 30px;
    left: 100px;
}

.name{
    position: absolute;
    top: 30px;
    left: 160px;
}

h1{
    color: #000000bd;
    font-family: 'Times New Roman', Times, serif;
}

.img{
    width: 50px;
    border-radius: 30px;
}

.buttonsup{
    position: absolute;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px hsl(0, 0%, 4%);
    top: 100px;
    left: 22px;
    padding: 100px;
    width: 130px;
    height: 20px;
}


.buttonsdown{
    position: absolute;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px hsl(0, 0%, 4%);
    top: 330px;
    left: 22px;
    padding: 100px; 
    width: 130px;
    height: 100px;
}

#home{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    transition: 0.2s ease;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 30px;
    left: 20px;
}

#home:active{
    background: #3e328375;
}

#with{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 90px;
    left: 20px;
    transition: 0.2s ease;
}

#with:active{
    background: #3e328375;
}

#ref{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 160px;
    left: 20px;
    transition: 0.2s ease;
}

#ref:active{
    background: #3e328375;
}

#con{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 220px;
    left: 20px;
    transition: 0.2s ease;
}

#con:active{
    background: #3e328375;
}

#prof{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    transition: 0.2s ease;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 30px;
    right: 20px;
}

#prof:active{
    background: #3e328375;
}

#pay{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    transition: 0.2s ease;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 90px;
    right: 20px;
}

#pay:active{
    background: #3e328375;
}

#earn{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    transition: 0.2s ease;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 160px;
    right: 20px;
}

#earn:active{
    background: #3e328375;
}

#help{
    position: absolute;
    background: #f3f2ff94;
    cursor: pointer;
    transition: 0.2s ease;
    width: 140.5px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    top: 220px;
    right: 20px;
}

#help:active{
    background: #3e328375;
}